extends layout

block main
    .container
        .page
            h1 Memoryspel - Lobby

            p Välkommen till Memoryonline. Här måste man ha ett konto för att kunna spela. Klicka Logga in och görs, eller skapa där ett konto om du inte har ett redan.

block scripts
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")
