extend ../layout.pug

block main
    .container
        .page
            h1 Anslut till spelservern

            .row
                .col-md-8
                    <form id='connectform'>
                        <div class="input-group">
                            <input class='form-control' style=width:98%; type='text' id='nickname' value='#{username}' disabled>
                            <span class="input-group-btn">
                                <input class='btn btn-primary' type='button' id='connect' value='Anslut'>
                            </span>
                        </div>
                    </form>

                    <form id='messageform' class='messageform'>
                        <div class="input-group">
                            <input class='form-control' type='text' id='message' placeholder='meddelande'>
                            <span class="input-group-btn">
                                <input class='btn btn-primary' type='button' id='messagebtn' value='Skicka'>
                                <input class='btn btn-danger' type='button' id='disconnectbtn' value='Koppla ner'>
                            </span>
                        </div>
                    </form>
                .col-md-4
                    <button id='startgame' class='startgame btn btn-primary'>Starta nytt spel</button>

            .row
                div.sidechatdiv.col-md-3
                    .row
                        .col-md-12
                            h3 Spelare
                            .well.clientwell#clientarea
                    .row
                        h3 Meddelanden
                        .col-md-12.chatwindow#chatwindow

                            .well.msgwell#msgarea

                div.gameboard.col-md-6#gameboard


                div.row
                    .col-md-offset-3.col-md-9
                        <button id='nextturnbtn' class='nextturnbtn btn btn-primary'>Nästa spelare</button>

block scripts
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")
    script(src="/javascripts/player.js")
    script(src="/javascripts/chatclient.js")
